{% macro render_form(form, method="POST", action=None, multipart=False) %}
<form method="{{ method }}" action="{{ action or request.url }}" {% if multipart %}enctype="multipart/form-data"{% endif %}>
   {{ form.csrf_token }}
   {{ caller() }} 
</form>
{% endmacro %}
