{% extends "layout.jinja2" %}

{% block content %}

<h2>About MyOwnDamnPhotos</h2>

<ul>
    <li><a href="#why">Why make yet another photo-sharing site?</a></li>
    <li><a href="#how-much">How much does it cost?</a></li>
</ul>

<h3 id="why">Why make yet another photo-sharing site?</h3>
<p>
    <b>MyOwnDamnPhotos</b> is <b>not</b> a photo-sharing site. Unlike Facebook, Imgur and hipster photo sharing sites <b>*cough*</b><i>Instagram</i><b>*cough*</b>, the point of <b>MyOwnDamnPhotos</b> is to be a safe and convenient place to keep your photos
    privately. You can still share your photos with friends and family you trust, but not the entire world.
</p>

<h3 id="how-much">How much does it cost?</h3>
<p>    
Free for now. If it starts getting expensive we'll start charging for it.
</p>

{% endblock %}
