{% extends "layout.jinja2" %}

{% block content %}

<h2>About MyOwnDamnPhotos</h2>

<ul>
    <li><a href="#why">Why make yet another photo-sharing site?</a></li>
    <li><a href="#how-much">How much does it cost?</a></li>
    <li><a href="#privacy">Can other people see my photos?</a></li>
    <li><a href="#how-to-share">How do I share my photo with others?</a></li>
    <li><a href="#how-to-public">How do I make my photo public?</a></li>
    <li><a href="#delete-account">What happens to my photos when I delete my account?</a></li>
</ul>

<h3 id="why">Why make yet another photo-sharing site?</h3>
<p>
    <b>MyOwnDamnPhotos</b> is <b>not</b> a photo-sharing site. Unlike Facebook, Imgur and hipster photo sharing sites <b>*cough*</b><i>Instagram</i><b>*cough*</b>, the point of <b>MyOwnDamnPhotos</b> is to be a safe and convenient place to keep your photos
    privately. You can still share your photos with friends and family you trust, but not the entire world.
</p>

<h3 id="how-much">How much does it cost?</h3>
<p>
Free for now. If it starts getting expensive to host this service we'll start charging for it.
</p>

<h3 id="privacy">Can other people see my photos?</h3>
<p>
    By default your photos are <b>private</b> and only you can see them. To allow other people to see your photos you have to make the photo public, or share photos with others.
</p>

<h3 id="how-to-share">How do I share my photo with others?</h3>
<p>
Click on one of your photos, and then the "Share" button. Enter the email addresses of friends you want to share the photo with. They should then receive an email with the photo as an attachment. If they join the site, they can also see the photo in the "Shared" page, and copy the photo to their own private collection if they wish.
</p>

<h3 id="how-to-public">How do I make my photo public?</h3>
<p>
    If you make your photo public, <b>everyone</b> can see it, so be warned! Click on the photo, choose the "Edit" button, then make sure the checkbox "Make my photos public" is checked. To make your photo private again, uncheck the box.
</p>

<h3 id="delete-account">What happens to my photos when I delete my account?</h3>
<p>
    Your photos will be deleted immediately.
</p>

{% endblock %}
