{% extends "layout.jinja2" %}

{% block content %}

<h2>Contact us</h2>

<h3>Bugs</h3>
<p>
    Please report any bugs to our Github issue tracker <a href="https://github.com/danjac/photoapp/issues">here</a>.
</p>

{% endblock %}
