{% extends "layout.jinja2" %}

{% block content %}
<form method="POST" action="{{ request.route_url('delete_account') }}">
    <p>
        Are you sure you want to delete your account? You will lose <b>ALL</b> your photos!
    </p>
    <a href="{{ request.route_url('settings') }}" class="btn btn-primary">Cancel</a>
    <button type="submit" onclick="return confirm('Sure???')" class="btn btn-danger">Go ahead</button>
</form>
{% endblock %}
