{% extends "layout.jinja2" %}
{% import "_forms.jinja2" as forms with context %}

{% block content %}

{% call forms.render_form(form) %}
    <p>
        Are you sure you want to delete your account? You will lose <b>ALL</b> your photos!
    </p>
    <a href="{{ request.route_url('settings') }}" class="btn btn-primary">Cancel</a>
    <button type="submit" class="btn btn-danger logout">Go ahead</button>
{% endcall %}
{% endblock %}
