{% import "_forms.jinja2" as forms with context %}

{% call forms.render_form(form, id="delete-photo-form") %}

    <p class=well>
        Are you sure you want to remove this photo?
    </p>

    <button class="btn cancel-btn" type="button">Cancel</button>
    <button type="submit" class="btn btn-danger logout">Go ahead</button>

{% endcall %}
