{% import "_forms.jinja2" as forms with context %}
{% call forms.render_form(form, id="send-photo-form") %}

    <legend>Edit this photo</legend>

    {{ forms.render_field(form.title) }}
    {{ forms.render_field(form.tags) }}

    {{ form.submit(class="btn") }}

    <button class="btn cancel-btn" type="button">Cancel</button>
    
{% endcall %}

