{% extends "layout.jinja2" %}
{% import "_forms.jinja2" as forms with context %}

{% block content %}

{% call forms.render_form(form) %}

    <legend>Edit your account settings</legend>

    {{ forms.render_field(form.first_name) }}
    {{ forms.render_field(form.last_name) }}

    {{ forms.render_field(form.email) }}

    {{ forms.render_field(form.password) }}
    {{ forms.render_field(form.password_again) }}

    {{ form.submit(class="btn") }}
</form>

{% endcall %}

<ul class="nav nav-pills">

    <li><a href="{{ request.route_url('delete_account') }}">Delete your account</a></li>

</ul>


{% endblock %}
