{% extends "layout.jinja2" %}
{% import "_forms.jinja2" as forms with context %}

{% block content %}

{% if signup_form %}
{% call forms.render_form(signup_form, action=request.route_url('signup')) %}

    <legend>Please complete the form below to get started</legend>
    {{ forms.render_field(signup_form.first_name) }}
    {{ forms.render_field(signup_form.last_name) }}
    {{ forms.render_field(signup_form.email) }}

    {{ signup_form.submit(class="btn") }}

{% endcall %}
{% else %}

<h2>Sorry, you shouldn't be here</h2>
<p class="well">
    Please <a href="#" id="signin">sign in</a> to continue.
</p>
{% endif %}

{% endblock %}
