{% extends "layout.jinja2" %}

{% block content %}

<form method="POST" action="{{ request.url }}">
    {{ form.csrf_token }}
    {{ form.key }}
    
    <legend>Enter your email address so you can recover your account.</legend>

    <div class="controls">
       {{ form.email.label }} 
       {{ form.email }}
    </div>

    {{ form.submit(class="btn") }}
    
</form>

{% endblock %}
