{% extends "layout.jinja2" %}
{% import "_forms.jinja2" as forms with context %}

{% block content %}

{% call forms.render_form(form) %}

    {{ form.key }}
    
    <legend>Enter your email address so you can recover your account.</legend>

    {{ forms.render_field(form.email) }}

    {{ form.submit(class="btn") }}
    
{% endcall %}
{% endblock %}
