{% extends "layout.jinja2" %}
{% import "_forms.jinja2" as forms with context %}

{% block content %}
<h1>Your own private photos</h1>

<ul class="thumbnails">
{% for photo in photos %}
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="{{ request.route_url('thumbnail', id=photo.id) }}" title="{{ photo.title }}" alt="{{ photo.title }}">
        </a>
    </li>
{% endfor %}
</ul>

{% if not request.user %}
{% call forms.render_form(login_form, action=request.route_url('login')) %}
    <legend>Sign in to get started</legend>

    {{ forms.render_field(form.email) }}
    {{ forms.render_field(form.password) }}

    {{ login_form.login(class="btn") }}

{% endcall %}

<ul class="nav nav-pills">

    <li class="disabled"><a href="#">Sign in</a></li>
    <li><a href="{{ request.route_url('forgot_pass') }}">Forgot your password?</a></li>
    <li><a href="#">Need an invite?</a></li>

</ul>
{% endif %}


{% endblock %}
