{% import "_forms.jinja2" as forms with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {%

    set descriptions = ('Plain and Simple Photo Uploads',
                        'Your Photos, For Your Eyes Only',
                        'Show Your Favorite Wallpapers Here',
                        'Private Photo Collections',)
    %}
    <title>My Own Damn Photos :: {{ descriptions|random }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ descriptions|random }}">
    <meta name="keywords" content="photos, uploads, private, pictures, camera, github, wallpapers, open source">
    <meta name="author" content="Dan Jacob">

    <!-- Le styles -->
    {% assets "bootstrap_css", "jquery_css", "ias_css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ request.static_url('photoapp:static/favicon.ico') }}">
    {% if google_tracking_code %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ google_tracking_code }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
      </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ request.route_url('home') if request.user else request.route_url('welcome') }}">My Own Damn Photos</a>
          <div class="nav-collapse">
            <ul class="nav">
                {% macro active_tab() -%} {% if request.matched_route.name in varargs %} class="active"{% endif %}{%- endmacro %}

              {% if request.user %}
              <li {{ active_tab('home') }}><a href="{{ request.route_url('home') }}">Home</a></li>
              <li {{ active_tab('my_shared', "shared") }}><a href="{{ request.route_url('my_shared') }}">Shared</a></li>
              <li {{ active_tab('public', 'public_all') }}><a href="{{ request.route_url('public', id=request.user.id) }}">Public</a></li>
              {% else %}
              <li {{ active_tab('public', 'public_all') }}><a href="{{ request.route_url('public_all', id=request.user.id) }}">Public photos</a></li>
              {% endif %}
              {% if has_permission('upload') %}
              <li {{ active_tab('upload') }}><a href="{{ request.route_url('upload') }}">Upload</a></li>
              {% endif %}

              <li {{ active_tab('about') }}><a href="{{ request.route_url('about') }}">FAQ</a></li>
              <li {{ active_tab('contact') }}><a href="{{ request.route_url('contact') }}">Contact</a></li>

            </ul>
            <ul class="nav pull-right">
              {% if request.user %}
              <li {{ active_tab('settings')}}><a href="{{ request.route_url('settings') }}"><img src="{{ request.user.gravatar_url(20) }}"> {{ request.user.name }}</a></li>
              <li><a href="{{ request.route_url('logout') }}" class="logout">Sign out</a></li>
              {% else %}
              {% block login_button %}
              <li><a href="#" class="login"><img src="https://developer.mozilla.org/files/3963/persona_sign_in_blue.png" alt="Sign in with Mozilla Persona"></a></li>

            {% endblock %}
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    <noscript>
        <div class="alert alert-error">You must enable JavaScript in your browser to use this application!</div>
    </noscript>

    <div id="messages">
        {% for message in request.session.pop_flash() %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>

    {% block content %}
    {% endblock %}

    {% if not request.user %}
    {% block login_form %}
    {% call forms.render_form(login_form, id="login-form", action=request.route_url('login')) %}
    {{ login_form.assertion }}
    {% endcall %}
    {% endblock %}
    {% endif %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://login.persona.org/include.js"></script>
    {% assets "jquery_js", "bootstrap_js", "ias_js", "photoapp_js" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block scripts %}{% endblock %}
    <script>

    PhotoApp.configure({
        currentUser: '{{ request.user.email if request.user else '' }}',
    })

    PhotoApp.authenticate()

   </script>
    <script type="text/template" id="message-template">
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= message %>
        </div>
    </script>
  </body>
</html>
