{% extends "layout.jinja2" %}
{% import "_forms.jinja2" as forms with context %}

{% block content %}

{% call forms.render_form(form) %}
    {{ form.next }}
 
    <legend>Sign in to get started</legend>

    {{ forms.render_field(form.email) }}
    {{ forms.render_field(form.password) }}

    {{ form.login(class="btn") }}

{% endcall %}

<ul class="nav nav-pills">

    <li><a href="{{ request.route_url('forgot_pass') }}">Forgot your password?</a></li>
    <li><a href="{{ request.route_url('signup') }}">Join today!</a></li>

</ul>

{% endblock %}
