{% extends "layout.jinja2" %}

{% block content %}
<form method="POST" action="{{ request.route_url('login') }}">
    {{ form.csrf_token }}
    <legend>Sign in to get started</legend>

    <div class="controls">
        {{ form.email.label }}
        {{ form.email }}
    </div>

    <div class="controls">
        {{ form.password.label }}
        {{ form.password }}
    </div>

    {{ form.login(class="btn") }}
</form>

<ul class="nav nav-pills">

    <li class="disabled"><a href="#">Sign in</a></li>
    <li><a href="#">Forgot your password?</a></li>
    <li><a href="#">Need an invite?</a></li>

</ul>

{% endblock %}
