{% extends "layout.jinja2" %}

{% block content %}
<div class="alert alert-error">
    Sorry, the sign in process has failed. Click the sign in button again. If you still can't sign in please
    <a href="mailto:danjac354@gmail.com">contact us</a>.
</div>
{% endblock %}
