{% extends "layout.jinja2" %}
{% import "_pagination.jinja2" as pagination with context %}

{% block content %}

<div id="photo-modal" class="modal hide fade"></div>

<script type="text/template" id="photo-modal-template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><%= title %></h3>
    </div>
    <div class="modal-body" id="photo-modal-body">
        <div class="photo-load-progress progress progress-striped active"><div class="bar" style="width:0%;"></div></div> 
        <div id="photo-modal-load"></div>
        <p id="photo-modal-content">
            <a class="photo-image hide" target="_blank" href="<%= image_url %>">
                <img src="<%= thumbnail_url %>" height="<%= height %>" width="<%= width %>" alt="<%= title %>">
            </a>
        </p>
    </div>
    <div class="modal-footer hide" id="photo-modal-footer">
        <a href="javascript:void(0);" class="btn send-btn"><i class="icon-envelope"></i> Send</a>
        <a href="javascript:void(0);" class="btn edit-btn"><i class="icon-pencil"></i> Edit</a>
        <a href="javascript:void(0);" class="btn delete-btn"><i class="icon-trash"></i> Delete</a>
    </div>
</script>


<div class="btn-group">
    <button class="btn btn-large btn-block btn-primary" href="#" type="button" id="search-btn"><i class="icon-search icon-white"></i></button>
</div>

<div id="search-box" class="hide">
    <form class="form-search" method="GET" action="{{ request.route_url('search') }}">
        <div class="btn-group">
            <input type="search" style="font-size:large; font-weight:bold;" name="search" value="{{ request.params.get('search', '') }}" placeholder="Search for...." class="span12">
        </div>
    </form>
</div>

<ul class="thumbnails">
{% for photo in page.items %}
    <li class="span4 photo">
        <a data-send-url="{{ request.route_url('send', id=photo.id) }}" 
           {% if has_permission('edit', photo) %}data-edit-url="{{ request.route_url('edit', id=photo.id) }}"{% endif %}
           data-image-url="{{ request.route_url('image', id=photo.id) }}"
           data-thumbnail-url="{{ request.route_url('thumbnail', id=photo.id) }}"
           data-photo-id="{{ photo.id }}"
           {% if has_permission('delete', photo) %}data-delete-url="{{ request.route_url('delete', id=photo.id) }}"{% endif %}
           data-width="{{ photo.width }}"
           data-height="{{ photo.height }}"
           data-title="{{ photo.title }}"
           href="#" class="thumbnail">
            <img src="{{ request.route_url('thumbnail', id=photo.id) }}" title="{{ photo.title }}" alt="{{ photo.title }}">
        </a>
    </li>
{% endfor %}
</ul>


{{ pagination.render_page_links(page) }}

{% endblock %}

{% block scripts %}
<script>
new PhotoApp.PhotosPage('{{ request.route_url('tags') }}');

</script>


{% endblock %}
