{% import "_forms.jinja2" as forms with context %}
{% call forms.render_form(form, id="send-photo-form") %}

    <legend>Send this photo</legend>
    <p>
    This will send the photo as an attachment. The recipient 
    won't be invited to join PhotoLocker and the photo won't
    appear on their Shared list.
    </p>

    {{ forms.render_field(form.name) }}
    {{ forms.render_field(form.email) }}

    {{ form.submit(class="btn") }}

    <button class="btn cancel-btn" type="button">Cancel</button>
    
{% endcall %}

