{% extends "layout.jinja2" %}
{% import "_forms.jinja2" as forms with context %}

{% block content %}

{% call forms.render_form(form) %}

    <legend>Send someone the photo '{{ photo.title }}'</legend>

    {{ forms.render_field(form.name) }}
    {{ forms.render_field(form.email) }}

    {{ form.submit(class="btn") }}
    
{% endcall %}

{% endblock %}
