{% extends "layout.jinja2" %}
{% import "_forms.jinja2" as forms with context %}

{% block content %}

{% call forms.render_form(form, multipart=True) %}

    <legend>Upload a photo to your private album</legend>

    {{ forms.render_field(form.title) }}
    {{ forms.render_field(form.tags) }}
    {{ forms.render_field(form.image) }}

    {{ form.submit(class="btn")}}

{% endcall %}
{% endblock %}
