{% extends "layout.jinja2" %}
{% import "_forms.jinja2" as forms with context %}

{% block content %}

{% call forms.render_form(form, multipart=True) %}
    {{ form.csrf_token }}

    <legend>Upload a photo to your private album</legend>

    <div class="controls">
    {{ form.title.label }}
    {{ form.title }}
    </div>

    <div class="controls">
    {{ form.tags.label }}
    {{ form.tags }}
    </div>

    <div class="controls">
    {{ form.image.label }}
    {{ form.image }}
    </div>

    {{ form.submit(class="btn")}}

{% endcall %}
{% endblock %}
