{% extends "layout.jinja2" %}

{% block content %}
<h2>Something has gone wrong.</h2>
<p class="well">
    An error has occurred. The team have been notified. We apologize for any inconvenience.
</p>
{% endblock %}
